<form action="register">
Name:<br>
  <input type="text" name="name"><br>
Email:<br>
<input type="text" name="email"><br>
  Mobile:<br>
  <input type="text" name="mobile"><br>
  Qualification:<br>
   <input type="text" name="qualification"><br>
  Select Tenant:<br>
  <select name="tenant">
  	<option value="ncet">NCET College</option>
  	<option value="ait">AIT College</option>
  </select>
  <br>
  <br>
  <input type="submit" value="Submit">  	
  
</form>